<p id="notice"><%= notice %></p>

<p>
  <strong>User group:</strong>
  <%= @user_group_permission.user_group %>
</p>

<p>
  <strong>Permission:</strong>
  <%= @user_group_permission.permission %>
</p>

<%= link_to 'Edit', edit_user_group_permission_path(@user_group_permission) %> |
<%= link_to 'Back', user_group_permissions_path %>
