<div class="container">
 
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= t('model.user_frequency') %></a>
          <ul class="nav navbar-nav brand">
          <%= form_for :filter, html: {class: 'navbar-form'}, method: 'get', url: user_frequencies_path do |f| %>
            <%= f.text_field :date_begin, class: 'form-control datepicker' %>
            até
            <%= f.text_field :date_end, class: 'form-control datepicker' %>
            <%= f.submit 'Filtrar', class: 'btn btn-default' %>
            <%= f.hidden_field 'user_id', value: params[:user_id] %>
          <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t('head.date') %></th>
          <th><%= t('head.user') %></th>
          <th><%= t('head.type_frequency') %></th>
        </tr>
      </thead>

      <tbody>
        <% @user_frequencies.each do |user_frequency| %>
          <tr>
            <td><%= format_date_br user_frequency.date %> às <%= format_time user_frequency.date %></td>
            <td><%= user_frequency.user.name %></td>
            <td><%= user_frequency.type_frequency %></td>
           
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<script type="text/javascript">
  $('.datepicker').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true
  })
</script>
