<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t('model.user') %></a>
        <ul class="nav navbar-nav brand">
          <li><%= link_to t('action.edit'), edit_user_path(@user) %></li>
          <li><%= link_to t('action.back'), users_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <p>
        <strong><%= t('head.name') %>:</strong>
        <%= @user.name %>
      </p>

      <p>
        <strong><%= t('head.email') %>:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong><%= t('head.cpf') %>:</strong>
        <%= @user.cpf %>
      </p>

      <p>
        <strong><%= t('head.rg') %>:</strong>
        <%= @user.rg %>
      </p>

      <p>
        <strong><%= t('head.birthday') %>:</strong>
        <%=format_date_br @user.birthday %>
      </p>

      <p>
        <strong><%= t('head.shift') %>:</strong>
        <%= @user.shift.name %>
      </p>

      <p>
        <strong><%= t('head.user_group') %>:</strong>
        <%= @user.user_group.name %>
      </p>

      <p>
        <strong><%= t('head.card') %>:</strong>
        <%= @user.card %>
      </p>

      <p>
        <strong><%= t('head.password') %>:</strong>
        <%= @user.password %>
      </p>
    </div>
  </div>
</div>
