<div class="container">
 
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t('model.department') %></a>
        <ul class="nav navbar-nav brand">
          <li><%= link_to t('action.new'), new_department_path %></li>
        </ul>
      </div>
    </div>
  </nav>


  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('head.name') %></th>
        <th><%= t('head.description') %></th>
        <th><%= t('head.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.name %></td>
          <td><%= department.description %></td>
          <td><%= department.institution %></td>
          <td class="link-controls">
            
          <%= link_to department do %>
              <span class="glyphicon glyphicon-list-alt" title="<%= t('tip.show') %>"></span>
            <% end %>

            <%= link_to edit_department_path(department) do %>
              <span class="glyphicon glyphicon-edit" title="<%= t('tip.edit') %>"></span>
            <% end %>

            <%= link_to "#institution-#{institution.id}", :'data-toggle' => 'modal' do %>
              <span class="glyphicon glyphicon-trash" title="<%= t('tip.destroy') %>"></span>
            <% end %>
            <%= render 'modal', institution: institution %>


            <td><%= link_to 'Show', department %></td>
            <td><%= link_to 'Edit', edit_department_path(department) %></td>
            <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Department', new_department_path %>
</div>
