<div class="container">
        
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t('model.shift') %></a>
        <ul class="nav navbar-nav brand">
          <li><%= link_to t('action.new'), new_shift_path %></li>
        </ul>
      </div>
    </div>
  </nav>


  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('head.name') %></th>
        <th><%= t('head.description') %></th>
        <th><%= t('head.begin') %></th>
        <th><%= t('head.end') %></th>
        <th><%= t('head.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.name %></td>
          <td><%= shift.description %></td>
          <td><%= format_time shift.begin %></td>
          <td><%= format_time shift.end %></td>
          <td class="link-controls">
            <%= link_to shift do %>
              <span class="glyphicon glyphicon-list-alt" title="<%= t('tip.show') %>"></span>
            <% end %>

            <%= link_to edit_shift_path(shift) do %>
              <span class="glyphicon glyphicon-edit" title="<%= t('tip.edit') %>"></span>
            <% end %>

            <%= link_to "#shift-#{shift.id}", :'data-toggle' => 'modal' do %>
              <span class="glyphicon glyphicon-trash" title="<%= t('tip.destroy') %>"></span>
            <% end %>
            <%= render 'modal', shift: shift %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>