<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t('model.shift') %></a>
        <ul class="nav navbar-nav brand">
          <li><%= link_to t('action.edit'), edit_shift_path(@shift) %></li>
          <li><%= link_to t('action.back'), shifts_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-12">
      <p>
        <strong><%= t('head.name') %>:</strong>
        <%= @shift.name %>
      </p>

      <p>
        <strong><%= t('head.description') %>:</strong>
        <%= @shift.description %>
      </p>

      <p>
        <strong><%= t('head.begin') %>:</strong>
        <%= format_time @shift.begin %>
      </p>

      <p>
        <strong><%= t('head.end') %>:</strong>
        <%= format_time @shift.end %>
      </p>
    </div>
  </div>
</div>
