<div class="container">
  <div class="col-md-6">
    <%= form_for(@permission, html: {class: 'from'}) do |f| %>

      <% if @permission.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @permission.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="input-control">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>

      <div class="input-control">
        <%= f.label :description %><br>
        <%= f.text_area :description, rows: 5, class: 'form-control' %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $("#save").click(function(){
    $("form:first").submit();
  });
</script>