<div class="container">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><%= t('model.permission') %></a>
        <ul class="nav navbar-nav brand">
          <li><%= link_to t('action.new'), new_permission_path %></li>
        </ul>
      </div>
    </div>
  </nav>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t('head.name') %></th>
        <th><%= t('head.description') %></th>
        <th><%= t('head.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% @permissions.each do |permission| %>
        <tr>
          <td><%= permission.name %></td>
          <td><%= permission.description %></td>
          <td class="link-controls">
            <%= link_to user_group_permissions_path(permission_id: permission.id) do %>
              <span class="glyphicon glyphicon-plus-sign" title="<%= t('tip.add') +" "+ t('model.user_group') %>"></span>
            <% end %>

            <%= link_to permission do %>
              <span class="glyphicon glyphicon-list-alt" title="<%= t('tip.show') %>"></span>
            <% end %>

            <%= link_to edit_permission_path(permission) do %>
              <span class="glyphicon glyphicon-edit" title="<%= t('tip.edit') %>"></span>
            <% end %>

            <%= link_to "#permission-#{permission.id}", :'data-toggle' => 'modal' do %>
              <span class="glyphicon glyphicon-trash" title="<%= t('tip.destroy') %>"></span>
            <% end %>
            <%= render 'modal', permission: permission %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>