<div class="container">
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= t('model.floor') %></a>
          <ul class="nav navbar-nav brand">
            <li><%= link_to t('action.new'), new_floor_path %></li>
          </ul>
        </div>
      </div>
    </nav>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><%= t('head.name') %></th>
          <th><%= t('head.description') %></th>
          <th><%= t('head.department') %></th>
          <th><%= t('head.actions') %></th>
        </tr>
      </thead>

      <tbody>
        <% @floors.each do |floor| %>
          <tr>
            <td><%= floor.name %></td>
            <td><%= floor.description %></td>
            <td><%= floor.department.name %></td>
            <td class="link-controls">
              
            <%= link_to floor do %>
                <span class="glyphicon glyphicon-list-alt" title="<%= t('tip.show') %>"></span>
              <% end %>

              <%= link_to edit_floor_path(floor) do %>
                <span class="glyphicon glyphicon-edit" title="<%= t('tip.edit') %>"></span>
              <% end %>

              <%= link_to "#floor-#{floor.id}", :'data-toggle' => 'modal' do %>
                <span class="glyphicon glyphicon-trash" title="<%= t('tip.destroy') %>"></span>
              <% end %>
              <%= render 'modal', floor: floor %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
