<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @floor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @floor.description %>
</p>

<p>
  <strong>Department:</strong>
  <%= @floor.department %>
</p>

<%= link_to 'Edit', edit_floor_path(@floor) %> |
<%= link_to 'Back', floors_path %>
